/* general*/
html {
 font-size: 1em;
}

body {
    font:  1.2rem 'Open Sans', sans-serif; 
    color: #393d41;
    line-height: 1.65;
    text-align: center;
    font-weight: bold;
}

h1, h2, h3 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

#container {
    width: 450px;
    margin: auto;
}

header {
    background-color: black;
}
header img {
    width: 50%;
    height: 50%;
    margin: 7% 25%;
}

.backgroundPc {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    padding: 40px 20px;
    margin-bottom: 40px;
}
h1 {
    font-size: 3rem;
}
.backgroundPc p{
    margin: 40px 0;
}

.backgroundPc a {
    background-color: #f04c2f;
    border-radius: 5px;
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

main h3, main p {
    margin-bottom: 20px ;
}

.circle {
    border: 1px solid #dee1e3;
    height: 300px;
    width: 300px; 
    border-radius: 50%;
    background-color: black;
    background-image: url(../images/notebook.jpg);
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 20px;
}


.backgroundRed {
    background-color: #e22d0e;
    color: whitesmoke;
    padding-top: 40px;
    padding-bottom: 20px;
}

.backgroundRed h2 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 2rem;
}
.backgroundRed p:first-of-type {
    font-style: italic;
    font-size: 1rem;
}
.backgroundRed p:nth-child(2n+1) {
    font-size: 1rem;
    margin-bottom: 0;
}
.backgroundRed p:last-of-type {
    font-size: 0.8rem;
}

.box {
    margin: 40px 20px;
    border: 1px solid #dee1e3;
}

.box img {
    width: 100%;
}

footer {
    background-color: #25a2c3;
    color: #c8e7f0;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer h2 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;

}
footer a, footer address {
    color: #c8e7f0;
    font-size: 0.8rem;
}
footer a:not(:last-of-type) {
    display: block;
}
footer p {
    border-top: 1px solid #c8e7f0;
    padding-top: 20px;
    font-size: 0.8rem;  
    width: fit-content; 
    margin: 0 auto;
    margin-top: 20px;
}
