/* general*/
html {
 font-size: 1.5em;
}

body {
    font:  1.2rem 'Open Sans', sans-serif; 
    color: #393d41;
    line-height: 1.65;
    font-weight: bold;
}

h1, h2, h3 {
    color: #25a2c3;
    font: 'Montserrat', sans-serif;
    line-height: 1.5;
}

#container {
    width: 100%;
}

header {
    background-color: black;
    padding: 10px 30px;
}
header img {
    width: 18%;
    height: 18%;
    margin-right: 80%;
    
}

h1 {
    font-size: 3rem;
}
.backgroundPc {
    background-image: url(../images/banner.jpg);
    height: 30vh;
    background-size: auto;
    padding: 300px 30%;
    text-align: center;
}
.backgroundPc p{
    margin: 30px 0;
}

.backgroundPc a {
    background-color: #f04c2f;
    border-radius: 5px;
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: bold;
    font-family: 'Montserrat';
}

main h3, main p {
    margin-bottom: 20px ;
}
.floatcontainer{
    padding-top: 200px;
    padding-bottom: 200px;
}
.circle {
    display: inline-block;
    border: 1px solid #dee1e3;
    height:600px;
    width: 600px; 
    border-radius: 50%;
    background-color: black;
    background-image: url(../images/notebook.jpg);
    background-size: contain;
    margin-left: 23%;

}
.float {
    display: inline-block;
    height: 500px;
    width: 800px;
    margin-left: 5%;
}

.backgroundRed {
    background-color: #e22d0e;
    color: whitesmoke;
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center;
    margin-bottom: 200px;
}

.backgroundRed h2 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 2rem;
}
.backgroundRed p:first-of-type {
    font-style: italic;
    font-size: 1rem;
    margin: 40px 0;
}
.backgroundRed p:nth-child(2n+1) {
    font-size: 1rem;
    margin-bottom: 0;
}
.backgroundRed p:last-of-type {
    font-size: 0.8rem;
}


.box {
    display: inline-block;
    text-align: center;
    border: 1px solid #dee1e3;
    width: 30%;
    height: 30%;
    margin-left: 2.5%;
}

.box img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #25a2c3;
    color: #c8e7f0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 200px;
}

footer h2 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;

}
footer a, footer address {
    color: #c8e7f0;
    font-size: 0.8rem;
}
footer a:not(:last-of-type) {
    display: block;
}
footer p {
    border-top: 1px solid #c8e7f0;
    padding-top: 20px;
    font-size: 0.8rem;  
    width: fit-content; 
    margin: 0 auto;
    margin-top: 20px;
}
